<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Add Song To Database</title>
    
    <link rel="stylesheet" crossorigin="anonymous" href="{{ url_for('static',filename='style.css')}}">
 
    <style>body{padding:30px;}</style>
 
</head>
 
<body>

    <div class="form-container">
        <!-- Login Form -->
        <form action="" method="POST">
            <h2>Album</h2>
    
            <label for="AlbumName">Album Name</label>
            <input type="text" class="form-control" name="AlbumName" id="AlbumName" required>

            <label for="ReleaseDate">Release Date</label>
            <input type="text" class="form-control" name="ReleaseDate" id="ReleaseDate" required>

            <label for="ArtistName">Artist Name</label>
            <input type="text" class="form-control" name="ArtistName" id="ArtistName" required>
    
            <button type="btnAdd" class="btn btn-primary">Add</button>
            <button onclick="location.href='/'">Return</button>
        </form>
    </div>


      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>