<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Music Tracker</title>
    <link rel="stylesheet" crossorigin="anonymous" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Music Tracker</h1>
        <p>Track and explore your favorite music with Music Tracker.</p>
         <!-- Button to go to Register.html -->
        <button onclick="location.href='Register'">Register</button>

        <!-- Button to go to Login.html --> 
        <button onclick="location.href='Login'">Login</button>
    </div>
</body>

</html>