<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
    <link rel="stylesheet" crossorigin="anonymous" href="{{ url_for('static',filename='style.css')}}">
    
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="form-container">
    <!-- Login Form -->
    <form action="" method="POST">
        <h2>Login</h2>
        <label for="Username">Username</label>
        <input type="text" class="form-control" name="Username" id="Username" required>

        <label for="Password">Password</label>
        <input type="password" class="form-control" name="Password" id="Password" required>

        <button type="btnAdd" class="btn btn-primary">Login</button>
    </form>
    <button onclick="location.href='/'">Return</button>
</div>

</body>
</html>
