<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Song List</title>
    <link rel="stylesheet" crossorigin="anonymous"
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
   <script crossorigin="anonymous"
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
   </script>
</head>


<body>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Song Title</th>
            <th scope="col">Genre</th>
            <th scope="col">BPM</th>
            </tr>
        </thead>
       <tbody>
            {% for cr in cr %}
                <tr>
                    <td>{{ cr.SongTitle }}</td>
                    <td>{{ cr.Genre }}</td>
                    <td>{{ cr.BPM }}</td>
         <td><a href='deleteSong/{{cr.SongTitle}}/{{cr.PlaylistName}}/{{cr.PlaylistID}}'>Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   <button><a href="/addSong/{{play}}">ADD SONG</a></button>
   <button><a href="/updatePlaylist/{{play}}">CANCEL</a></button>

</body>
