<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>updatePlaylist</title>
    
    <link rel="stylesheet" crossorigin="anonymous" href="{{ url_for('static',filename='style.css')}}">

 
</head>
 
<body>
    <h2>Update Playlist</h2>
 
    <form action="" method = "POST">
        <div class="form-group row">
            <label for="name">PlaylistName</label>
            <input type="text" class="form-control" name="PlaylistName" id="PlaylistName" value="{{ tip.PlaylistName }}">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <button> <a href='/songManage/{{tip.PlaylistId}}'>Manage Songs</a></button>
        <button><a href="/list" class="btn btn-primary">Cancel</a></button>
      </form>
</body>
</html>